<body>
  <header class="header">
    <a href="a" class="logo">Portafolio</a>
    <nav class="navbar">
      <a href="#about" style="--i:2">Perfil</a>
      <a href="#services" style="--i:3">Servicios</a>
      <a href="#skills" style="--i:5">Portafolio</a>
      <a href="#project" style="--i:4">Proyectos</a>
      <a href="#contact" style="--i:6">contact</a>
    </nav>
  </header>
  <section class="home">
    <div class="home-content">
      <p>NOMBRES Y APELLIDOS:ARLEVY DE JESUS ARIAS ARIAS </p><br>
      <p>LUGAR Y FECHA DE NACIMIEINTO: 31 de DICIEMBRE del 1996</p><br>
      <p>CÉDULA DE CIUDADANÍA: 1065830032<span class="text"></span></p><br>
      <p>SEXO:Masculino</p><br>
      <p>CIVIL:Soltero</p><br>
      <p>DIRECCIÓN:Cll 5H #47-27. Valledupar, Cesar</p><br>
      <p>TELÉFONO:3015704678</p><br>
      <p>E-MAIL:arias.arley1996gmail.com </p>
      <div class="home-sci">
        <a href="https://www.facebook.com/arias.arlevis" style="--i:7"><i class='bx bxl-facebook'></i></a>
        <a href="https://www.instagram.com/arley_arias1?igsh=cHM5NDZrM3JzMmw=" style="--i:8"><i
            class='bx bxl-instagram'></i></a>
        <a href="https://github.com/Arley1996" style="--i:9"><i class='bx bxl-github'></i></a>
        <a href="https://www.linkedin.com/in/arlevy-arias-8425731a3/" style="--i:10"><i class='bx bxl-linkedin'></i></a>
      </div>
      <a href="#" class="btn-box">Más sobre mí</a>
    </div>
    <span class="home-imgHover"></span>
  </section>

  <section class="about" id="about">
    <div class="about-img">

    </div>
    <div class="about-text">
      <h2>Mi<span>Perfil</span></h2>
      <h4>Perfil Profecional</h4>
      <p>Soy un desarrollador web apasionado con más de 2 años de experiencia en la creación de aplicaciones y sitios
        web interactivos. Me especializo en tecnologías frontend como HTML5, CSS3 y JavaScript, y tengo experiencia
        trabajando con frameworks modernos como Angular y React. Poseo habilidades avanzadas en la implementación de
        diseños responsivos y accesibles, siempre enfocado en mejorar la experiencia del usuario. Estoy en busca de
        nuevas oportunidades donde pueda seguir creciendo profesionalmente y contribuir en proyectos innovadores y
        desafiantes.</p>
      <a href="#" class="btn-box">Más sobre mí</a>
    </div>
  </section>
  <section>
    <div class="services" id="services">
      <div class="container"></div>
      <h1 class="sub-title">Mi <span>Servicios</span></h1>
      <div class="services-list">
        <div>
          <i class='bx bx-code' style='color:#00eeff'></i>
          <h2>Desarrollo Frontend</h2>
          <p>Creación de interfaces web dinámicas y atractivas usando HTML5, CSS3, JavaScript y frameworks como Angular
            y React.
            Implementación de sitios web y aplicaciones web interactivas.</p>
          <a href="#" class="read">Aprende más</a>
        </div>
        <div>
          <i class='bx bx-crop' style='color:#00eeff'></i>
          <h2>Diseño Responsivo</h2>
          <p>Adaptación de sitios web para que funcionen correctamente en dispositivos móviles, tablets y desktops,
            garantizando una experiencia óptima en todos los tamaños de pantalla.</p>
          <a href="#" class="read">Aprende más</a>
        </div>
        <div>
          <i class='bx bxl-code' style='color:#00eeff'></i>
          <h2>Optimización de Desempeño Web</h2>
          <p>Mejora del rendimiento de los sitios web, incluyendo tiempos de carga más rápidos y optimización de código,
            imágenes y recursos para mejorar la experiencia del usuario.</p>
          <a href="#" class="read">Aprende más</a>
        </div>
        <div>
          <i class='bx bxl-crop' style='color:#00eeff'></i>
          <h2>DevOps e infraestructura</h2>
          <p>Configuración de servidores, automatización del despliegue de aplicaciones y gestión de infraestructuras en
            la nube (AWS, Azure, Google Cloud)</p>
          <a href="#" class="read">Aprende más</a>
        </div>
        <div>
          <i class='bx bxl-code' style='color:#00eeff'></i>
          <h2>Seguridad de software</h2>
          <p>Implementación de medidas de seguridad para proteger aplicaciones contra vulnerabilidades como ataques de
            inyección SQL, XSS, CSRF, etc.</p>
          <a href="#" class="read">Aprende más</a>
        </div>
      </div>
    </div>
  </section>
  <h1 class="sub-title">Mi<span>Portafolio</span></h1>

  <section>
    <div id="skills" class="container1">
      <h1 class="heading1">Lenguajes</h1>
      <div class="Technical-bars">
        <div class="bar"><i style="color: #c95d2e;" class="bx bxl-html5"></i>
          <div class="info">
            <span>HTML</span>
            <span class="percent">90%</span>
          </div>
          <div class="progress-line html">
            <span></span>
          </div>
        </div>
        <div class="bar"><i style="color: #147bbc;" class="bx bxl-css3"></i>
          <div class="info">
            <span>CSS</span>
            <span class="percent">60%</span>
          </div>
          <div class="progress-line css">
            <span></span>
          </div>
        </div>
        <div class="bar"><i style="color: #b0bc1e;" class="bx bxl-javascript"></i>
          <div class="info">
            <span>Javascript</span>
            <span class="percent">50%</span>
          </div>
          <div class="progress-line javascript">
            <span></span>
          </div>
        </div>
        <div class="bar"><i style="color: #c32ec9;" class="bx bxl-python"></i>
          <div class="info">
            <span>Python</span>
            <span class="percent">70%</span>
          </div>
          <div class="progress-line python">
            <span></span>
          </div>
        </div>
        <div class="bar"><i style="color: #00b7ff;" class="bx bxl-flutter"></i>
          <div class="info">
            <span>Flutter</span>
            <span class="percent">70%</span>
          </div>
          <div class="progress-line flutter">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="skills">
    <div class="container1">
      <h1 class="heading1">Como me expecifico</h1>
      <div class="radial-bars">
        <div class="radial-bar">
          <svg viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-1" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">90%</div>
          <div class="text">Creatividad</div>
        </div>
        <div class="radial-bar">
          <svg viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-2" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">65%</div>
          <div class="text">Comunicación</div>
        </div>
        <div class="radial-bar">
          <svg viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-3" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">75%</div>
          <div class="text">Resolución de problemas</div>
        </div>
        <div class="radial-bar">
          <svg viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-4" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">85%</div>
          <div class="text">Trabajo en equipo</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <section>
      <div id="project">
        <div class="container"></div>
        <h1 class="sub-title">Mis <span>Proyectos</span></h1>
        <div class="services-list">
          <div>
            <i class='bx bx-code' style='color:#00eeff'></i>
            <h2>CRUD GitHub</h2>
            <p>Descripción: Proyecto de un sistema CRUD (Crear, Leer, Actualizar, Eliminar), probablemente utilizado
              para gestionar datos en una aplicación web o base de datos.
              Tecnologías: HTML, CSS, JavaScript, posiblemente una base de datos (MySQL, Firebase, etc.).
              Enfoque: Gestión básica de datos en una aplicación.</p>
            <a href="#" class="read">Aprende más</a>
          </div>
          <div>
            <i class='bx bx-code' style='color:#00eeff'></i>
            <h2>Ejercicios_php GitHub</h2>
            <p>Descripción: Colección de ejercicios en PHP para reforzar y practicar conceptos básicos y avanzados de la
              programación en este lenguaje.
              Tecnologías: PHP, probablemente en combinación con HTML y CSS.
              Enfoque: Desarrollo backend en PHP.</p>
            <a href="#" class="read">Aprende más</a>
          </div>
          <div>
            <i class='bx bxl-code' style='color:#00eeff'></i>
            <h2>Calculadora GitHub</h2>
            <p>Descripción: Proyecto de calculadora que posiblemente incluye operaciones matemáticas básicas y
              avanzadas.
              Tecnologías: HTML, CSS, JavaScript.
              Enfoque: Desarrollo frontend interactivo.</p>
            <a href="#" class="read">Aprende más</a>
          </div>
          <div>
            <i class='bx bxl-code' style='color:#00eeff'></i>
            <h2>proyectoguaviare GitHub</h2>
            <p>Descripción: Proyecto relacionado con la región de Guaviare. Podría tratarse de una plataforma o
              aplicación enfocada en la promoción o gestión de información sobre esta región.
              Tecnologías: No especificadas, pero es probable que use HTML, CSS y JavaScript.
              Enfoque: Desarrollo de un sitio o plataforma web</p>
            <a href="#" class="read">Aprende más</a>
          </div>
          <div>
            <i class='bx bxl-code' style='color:#00eeff'></i>
            <h2>interfazweb GitHub</h2>
            <p>Descripción: Proyecto enfocado en la creación de una interfaz web, posiblemente para mejorar la
              experiencia de usuario.
              Tecnologías: HTML, CSS, JavaScript.
              Enfoque: Diseño y desarrollo de interfaces de usuario</p>
            <a href="#" class="read">Aprende más</a>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="contact-text">
        <h2>Contacta <span>me</span></h2>
        <h4>Trabajemos juntos</h4>
        <p>🌟 Analista y Desarrollador de Software 🌟

          Soy un profesional apasionado por la tecnología y la innovación, con experiencia en análisis de sistemas y
          desarrollo de software a medida. Mi enfoque se centra en entender las necesidades del cliente y ofrecer
          soluciones efectivas y escalables.

          Habilidades:

          Análisis de requisitos y diseño de sistemas
          Desarrollo en [menciona tus lenguajes o tecnologías, como Java, Python, JavaScript, etc.]
          Metodologías ágiles (Scrum, Kanban)
          Integración de sistemas y APIs
          Soporte y mantenimiento de aplicaciones

          Si buscas un experto que transforme tus ideas en soluciones digitales, no dudes en contactarme. Estoy aquí
          para
          ayudarte a llevar tu proyecto al siguiente nivel.</p>
        <div class="contact-list">
          <li> <i class='bx bxs-send'></i>arias.arley1996gmail.com</li>
          <li><i class='bx bxs-phone'></i>3015704678</li>
        </div>
        <div class="home-sci">
          <a href="https://www.facebook.com/arias.arlevis" style="--i:7"><i class='bx bxl-facebook'></i></a>
          <a href="https://www.instagram.com/arley_arias1?igsh=cHM5NDZrM3JzMmw=" style="--i:8"><i
              class='bx bxl-instagram'></i></a>
          <a href="https://github.com/Arley1996" style="--i:9"><i class='bx bxl-github'></i></a>
          <a href="https://www.linkedin.com/in/arlevy-arias-8425731a3/" style="--i:10"><i
              class='bx bxl-linkedin'></i></a>
        </div>
      </div>

      <div class="contact-form">
        <form action>
          <input type placeholder="Ingrese su nombre" required>
          <input type="email" placeholder="Ingresa tu correo electrónico" required>

          <input type placeholder="Ingrese su asunto">
          <textarea name id cols="40" rows="10" placeholder="Ingrese su mensaje" required></textarea>
          <input type="submit" value="submit" class="send">
        </form>
      </div>
    </section>

    <div class="last-text">
      <p>Arlevy Arias 2024</p>
    </div>
    <a href="#" class="top"><i class="bx bx-up-arrow-alt"></i></a>

    <script src="script.js"></script>
    <router-outlet />